---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Question from "../components/Question.astro";
---

<Layout title="FAQ Page">
  <main transition:animate="slide">
    <div class="h1-holder" transition:name="faq-heading">
      <h1 class="text-gradient">Got Questions?</h1>
    </div>
    <!-- <div class="sign-container"> -->
    <img src="./sign.png" alt="sign" class="sign-img" />
    <!-- </div> -->
    <div class="question-card-grid">
      <Question
        title="What is the sales tax of which you speak ?"
        body="Also known as the 'Penny Sales Tax,' the One Cent Sales Tax (OCST) equates to paying one penny per $1 on a taxable item's purchase price. The taxes collected help fund roadway, infrastructure, and greenbelt preservation projects throughout Berkeley County."
        ;
      />

      <Question
        title="ðŸ”— Where is my money going?"
        body=" â˜ Check out this super cool map."
        href="./project_dashboard"
      />

      <Question
        title="Can you fix my private drive"
        body="Yep! For sure. We will be right there... you just sit tight m'kay?"
        href=""
        ;
      />

      <Question
        title="Is cereal soup"
        body="The classification of cereal as soup is a subject of debate and often depends on how one defines soup and its key characteristics. Soup is typically a liquid dish made by combining various ingredients, such as vegetables, meat, or legumes, with broth or water. It's often served hot. Cereal, on the other hand, is a type of food made from grains like wheat, corn, oats, or rice, usually eaten with milk or yogurt. By the traditional definition of soup, cereal wouldn't be considered soup because it doesn't consist of a liquid broth or water base with ingredients cooked together. However, this question often serves as a playful example of how language and categorization can lead to interesting discussions. It's ultimately up to individuals to decide whether they consider cereal to be a type of soup or not based on their own interpretation and perspective."
        href=""
        ;
      />

      <Question
        title="Why is this page so ugly?"
        body="There is just something about it I freaking hate. I want to punch it in its brain! "
        href=""
        ;
      />

      <Question
        title="When you are getting dressed is it sock-sock-shoe-shoe or sock-shoe-sock-shoe"
        body="I think we all know there is really only one right answer to this question."
        href=""
        ;
      />
    </div>
  </main>
</Layout>

<style>
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }
  h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.25;
    text-align: center;
    margin-bottom: 1em;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 8px;
  }
  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
  .sign-container {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  .sign-img {
    position: absolute;
    width: 300px;
    z-index: 3;
    margin-left: -6%;
    /* margin-top: -20%; */
    margin-top: -500px;
    transform: rotate(-20deg);
    transform: translateX(-50%);
    animation: dropBounce 1.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
    animation-delay: 1s;
  }
  .question-card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    justify-items: center;
  }
  .crosshair-cursor {
    cursor: crosshair;
  }
  @keyframes dropBounce {
    0% {
      top: -500px;
      opacity: 0;
    }
    60% {
      top: 10%;
      opacity: 0.5;
      transform: rotate(-5deg);
    }
    80% {
      top: 19%;
      left: 15%;
      opacity: 1;
      transform: rotate(-10deg);
    }
    100% {
      top: 27%;
      left: 21%;
      transform: rotate(-15deg);
    }
  }
</style>
