---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import H2Element from "../components/H2Element.astro";
---

<Layout title="One Cent Sale Tax">
  <main
    transition:animate="slide"
    class="container flex flex-col justify-center max-w-[50%] scroll-smooth mb-10"
  >
    <div
      class="flex mt-0 text-5xl font-medium leading-tight justify-center mb-5"
      transition:name="home-heading"
    >
      <h1 class="text-accent-dark mb-5 lg:text-3xl md:text-xl sm:text-lg">
        One Cent Sales Tax Program
      </h1>
    </div>
    <Card href="#" title="TO DO:" body="Video will be added here." />
    <!-- <div class="flex justify-evenly">
      <p
        class="xl:font-bold lg:font-light mlg:font-light md:font-light sm:font-light"
      >
        XL
      </p>
      <p
        class="xl:font-light lg:font-bold mlg:font-light md:font-light sm:font-light"
      >
        L
      </p>
      <p
        class="xl:font-light lg:font-light mlg:font-bold md:font-light sm:font-light"
      >
        MLG
      </p>
      <p
        class="xl:font-light lg:font-light mlg:font-light md:font-bold sm:font-light"
      >
        MD
      </p>
      <p
        class="xl:font-light lg:font-light mlg:font-light md:font-light sm:font-bold"
      >
        SM
      </p>
    </div> -->
    <div
      class="border-b-2 border-r-2 border-accent py-5 px-5 mb-5 text-xl flex flex-col lg:text-lg md:text-base sm:text-sm"
    >
      <p class="mt-2 pb-3">
        Also known as the "Penny Sales Tax," the One Cent Sales Tax (OCST)
        equates to paying one penny per $1 on a taxable item's purchase price.
        The taxes collected help fund roadway, infrastructure, and greenbelt
        preservation projects throughout Berkeley County.
      </p>
      <p class="mt-2 pb-3">
        Berkeley County's One Cent Sales Tax Program was established in 2008.
        Voters passed additional referendums in 2014 and 2022, approving the
        continuation ofthe program. For the first time in the OCST program, the
        2022 referendum provides funding for greenbelt preservation projects.
      </p>
      <p class="mt-2 pb-3">
        Within the OCST program, the County also created the Dirt-to-Pave
        program,which paves roads often found in rural communities. To date, the
        county has completed 65 dirt-to-pave projects from both the 2008 and
        2014 referendums.
      </p>
    </div>
    <H2Element text="Sales Tax Collections" />
    <!-- container for cubes -->
    <div
      class="xl:flex xl:flex-row lg:flex lg:flex-row mlg:flex mlg:flex-row gap-5 justify-center border-b-2 border-r-2 border-accent text-center md:flex-col sm:flex-col"
    >
      <div
        class="flex flex-col justify-center items-center w-42 h-48 p-10 m-5 lg:w-26 lg:h-33 lg:p-4 mlg:w-22 mlg:h-28 mlg:p-2 bg-accent-dark rounded-lg shadow-lg"
      >
        <p class="text-xl lg:text-lg md:text-md text-darker-yellow">
          2008 Referendum
        </p>
        <hr class="w-full" />
        <p class="text-xl font-bold money lg:text-lg md:text-md" id="c-1">
          143 Million
        </p>
      </div>
      <div
        class="flex flex-col justify-center items-center w-42 h-48 p-10 m-5 lg:w-26 lg:h-33 lg:p-4 mlg:w-22 mlg:h-28 mlg:p-2 bg-accent-dark rounded-lg shadow-lg"
      >
        <p class="text-xl text-darker-yellow lg:text-lg md:text-md">
          2014 Referendum
        </p>
        <hr class="w-full" />
        <p class="text-xl font-bold money lg:text-lg md:text-md" id="c-2">
          273 Million
        </p>
      </div>
      <div
        class="flex flex-col justify-center items-center w-42 h-48 p-10 m-5 lg:w-26 lg:h-33 lg:p-4 mlg:w-22 mlg:h-28 mlg:p-2 bg-accent-dark rounded-lg shadow-lg"
      >
        <p class="text-xl text-darker-yellow lg:text-lg md:text-md">
          2022 Referendum
        </p>
        <hr class="w-full" />
        <p class="text-xl font-bold money lg:text-lg md:text-md" id="c-3">
          587 Million
        </p>
      </div>
    </div>
    <H2Element text="Road Projects" />
    <div
      class="xl:grid xl:grid-cols-2 xl:gap-5 lg:grid lg:grid-cols-2 lg:gap-4 mlg:grid mlg:grid-cols-1 mlg:gap-3 border-b-2 border-r-2 border-accent pb-5 pr-5 w-full xl:text-xl lg:text-lg mlg:text-lg md:text-md sm:text-sm"
    >
      <ul class="list-outside list-disc w-full">
        <li class="leading-loose">Capacity (Widening) Projects</li>
        <li class="leading-loose">Major Resurfacing Projects</li>
        <li class="leading-loose">
          Local Street Resurfacing (Streets to be determined through input from
          SCDOT, County and Municipal officials, as well as the public)
        </li>
      </ul>
      <ul class="list-outside list-disc w-full">
        <li class="leading-loose">Intersection Improvements</li>
        <li class="leading-loose">Other Transportation Projects</li>
        <li class="leading-loose">
          Paving Projects (Various dirt roads throughout the County as
          determined by the County governing body and staff)
        </li>
      </ul>
    </div>

    <H2Element text="Greenbelt Preservation Projects" />
    <div
      class="xl:grid xl:grid-cols-2 xl:gap-5 lg:grid lg:grid-cols-2 lg:gap-4 mlg:grid mlg:grid-cols-1 mlg:gap-3 border-b-2 border-r-2 border-accent pb-5 pr-5 w-full xl:text-xl lg:text-lg mlg:text-lg md:text-md sm:text-sm"
    >
      <ul class="list-outside list-disc w-full">
        <li class="leading-loose">Purchasing property for conservation</li>
        <li class="leading-loose">Purchasing conservation easements</li>
        <li class="leading-loose">Creating passive greenspace</li>
        <li class="leading-loose">Creating active greenspace</li>
      </ul>
      <ul class="list-outside list-disc w-full">
        <li class="leading-loose">Protecting natural resources</li>
        <li class="leading-loose">
          Protecting agricultural or heritage landscapes
        </li>
        <li class="leading-loose">Protecting scenic corridors</li>
      </ul>
    </div>

    <div
      class="flex gap-5 justify-center border-b-2 border-r-2 border-accent pb-5 mt-10 w-full"
      id="text-div-1"
    >
      <div
        class="grid xl:p-6 xl:mx-6 lg:p-4 lg:mx-4 mlg:p-1 mlg:mx-1"
        id="quote-div"
      >
        <blockquote
          class="xl:text-xl lg:text-lg lg:p-8 lg:mx-8 mlg:text-md mlg:p-1 mlg:mx-1 md:text-md sm:text-md italic font-semibold text-gray-900 dark:text-white"
        >
          <p
            class="italic font-medium leading-relaxed text-gray-900 dark:text-white mb-5"
          >
            "Each project completed not only adds to the quality of life to
            those directly affected, but also reduces annual maintenance costs
            and allows resources to be used elsewhere. Thanks to the TAXPAYER
            for supporting this program so we can help bring critical
            infrastructure improvements to our County."
          </p>
        </blockquote>
        <p
          class="text-right bg-gradient-to-r from-transparent to-accent-dark text-accent p-5 border-b-2 border-r-2 border-accent"
        >
          - Johnny Cribb, Berkeley County Supervisor
        </p>
      </div>
    </div>
  </main>
</Layout>

<script>
  function incrementCounter(
    selector: string,
    current: number,
    target: number,
    duration: number,
    letter: string = "",
    symbol: string = "$"
  ) {
    let counter = document.getElementById(selector);
    let stepTime = Math.abs(Math.floor(duration / target));
    if (current < target && counter) {
      current++;
      counter.innerText = symbol + current.toString() + letter;
      setTimeout(
        () =>
          incrementCounter(selector, current, target, duration, letter, symbol),
        stepTime
      );
    }
  }
  // increment
  incrementCounter("c-1", 0, 143, 4000, " Million", "$");
  incrementCounter("c-2", 0, 237, 2000, " Million", "$");
  incrementCounter("c-3", 0, 587, 500, " Million", "$");
</script>

<style>
  #text-div-1 {
    overflow: hidden;
  }

  .quote-holder {
    /* transform: translateX(100%); */
    transition: transform 0.5s ease-in-out;
  }

  /* Add trigger class  */
  .quote-holder.slide-in {
    transform: translateX(-0%);
  }

  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }

  .cube {
    /* display: flex; */
    /* flex-direction: column; */
    /* width: 200px; */
    /* height: 200px; */
    /* border-radius: 30px; Adjust this value for more or less rounded corners */
    /* background-color: #005677; */
    /* padding: 10px; */
    /* align-items: center; */
    /* justify-content: center; */
    /* margin-bottom: 1rem; */
    /* box-shadow:
      2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
      6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
      12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
      22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
      41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
      100px 100px 80px rgba(0, 0, 0, 0.07),
      inset 0px 0px 30px 5px rgba(73, 72, 84, 0.9); */
  }
  /* .cube hr {
      width: 90%;
      background-color: #58c9e8;

      padding: 1px;
      border: none;
      border-radius: 2px;
    } */
  .money {
    color: #d5ca92;
    color: rgba(var(--accent));
  }
  .quote-holder {
    display: grid;
    grid-template-columns: 1fr;
  }
  .cite-holder {
    align-items: right;
    align-content: right;
    align-self: right;
    color: #003f55;
    font-weight: 700;
    background-color: #00567750;
    background: linear-gradient(to right, #558296, #00567750);
    text-align: right;
    padding-right: 1rem;
  }
</style>
