---
import Layout from "../layouts/Layout.astro";
import PhotoGallery from "../components/PhotoGallery.astro";
---

<Layout title="Project Photos">
  <main transition:animate="slide">
    <div
      class="flex mb-2 mt-0 text-5xl font-medium leading-tight justify-center"
      transition:name="home-heading"
    >
      <h1 class="text-accent-dark mb-5 lg:text-3xl md:text-xl sm:text-lg">
        Project Photos
      </h1>
    </div>
    <PhotoGallery />
  </main>
</Layout>
