---
import Layout from "../layouts/Layout.astro";
import PhotoGallery from "../components/PhotoGallery.astro";
import H2Element from "../components/H2Element.astro";
---

<Layout title="Project Photos">
  <main transition:animate="slide" class="container flex flex-col justify-center w-full ml-1 scroll-smooth">
      <H2Element text="Project Photos" />
      <PhotoGallery />
  </main>
</Layout>
