---
import Layout from "../layouts/Layout.astro";
import Map from "../components/Map.html";
---

<Layout title="Interative Project Status Dashboard">
  <main
    transition:animate="slide"
    class="container flex flex-col justify-center max-w-[50%] scroll-smooth"
  >
    <div
      class="flex mb-2 mt-0 text-5xl font-medium leading-tight justify-center"
      transition:name="dash-heading"
    >
      <h1 class="text-accent-dark mb-5 lg:text-3xl md:text-xl sm:text-lg">
        Interactive Project Dashboard
      </h1>
    </div>
    <Map />
  </main>
</Layout>
