---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import PhotoGallery from "../components/PhotoGallery.astro";
---

<script>
  const gallery = document.querySelector("#gallery");
  gallery.addEventListener("click", (ev) => {
    let target = ev.target as HTMLImageElement;
    console.log(target);
    let parent = ev.target.parentElement as HTMLDivElement;
    if (target.classList.contains("img")) {
      if (document.startViewTransition) {
        const direction = target.classList.contains("img--expanded")
          ? "shrink"
          : "grow";
        const origVtName = target.style.viewTransitionName;
        target.style.viewTransitionName = `img-${direction}`;
        document.startViewTransition(() => {
          parent.classList.toggle("img--expanded");
          setTimeout(() => (target.style.viewTransitionName = origVtName), 0);
        });
      } else {
        parent.classList.toggle("img--expanded");
      }
      return;
    }
  });
</script>

<Layout title="Project Photos">
  <main transition:animate="slide">
    <div class="h1-holder" transition:name="pics-heading">
      <h1 class="text-gradient">Project Photos</h1>
    </div>

    <!-- <Card 
		href="#"
		title="TO DO:"
		body="I am thinking a cool interactive mosiac type interface that shows all the photos - with a filter for each project? Or someway to interact that makes it enjoyable and more than just a carousel of photos."
		/> -->
    <PhotoGallery />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
    margin-top: -15%;
  }
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }
  h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.25;
    text-align: center;
    margin-bottom: 1em;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</style>
