---
import Layout from "../layouts/Layout.astro";
import Map from "../components/Map.html";
import H2Element from "../components/H2Element.astro";
---

<Layout title="Interative Project Status Dashboard">
  <main
    class="container flex flex-col justify-center w-full ml-1 scroll-smooth"
  >
    <H2Element text="Interactive Project Dashboard" />
    <Map />
  </main>
</Layout>
