<footer
  class="bg-white rounded-lg shadow m-4 dark:bg-gray-800 mt-3 relative inset-x-0 bottom-0 flex">
  <div class="flex justify-evenly w-full mx-auto max-w-screen-xl p-4 items-center">
    <!-- md:flex md:items-center md:justify-between sm:flex sm:items-center sm:justify-between xsm:flex xsm:items-center xsm:justify-between -->
    <!-- for larger devices -->
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400 hidden lg:flex">&#9426; 2023
      <a href="https://berkeleycountysc.gov/" class="hover:underline">&nbsp;Made with &#10084;&#65039; Berkeley County</a>. 
      All Rights Reserved.
    </span>
    <!-- for smaller devices -->
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400 lg:hidden">&#9426; 2023 
      <a href="https://berkeleycountysc.gov/" class="hover:underline"> Berkeley County</a>
    </span>
    <div class="flex gap-4 flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
      <span>
        <a href="https://www.instagram.com/berkeleyscgov/"
          class="mr-4 hover:underline md:mr-6"
          target="_blank">
            <img src="/instagram.svg" alt="instagram logo" />
        </a>
      </span>
      <span>
        <a href="https://www.facebook.com/BerkeleySCGov/"
          class="mr-4 hover:underline md:mr-6"
          target="_blank">
            <img src="/facebook.svg" alt="facebook logo" />
        </a>
      </span>
      <span>
        <a href="https://www.youtube.com/@BerkeleyCountyGov"
          class="mr-4 hover:underline md:mr-6"
          target="_blank">
            <img src="/youtube.svg" alt="YouTube Logo>" />
        </a>
      </span>
      <!-- <li>
        <a href="/contact" class="hover:underline">Contact</a>
      </li> -->
    </div>
  </div>
</footer>
