<footer class="bg-white rounded-lg shadow m-4 dark:bg-gray-800 mt-3">
  <div
    class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
  >
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
      >&#9426; 2023 <a
        href="https://berkeleycountysc.gov/"
        class="hover:underline">Made with &#10084;&#65039; Berkeley County</a
      >. All Rights Reserved.
    </span>
    <ul
      class="flex gap-4 flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0"
    >
      <li>
        <a
          href="https://www.instagram.com/berkeleyscgov/"
          class="mr-4 hover:underline md:mr-6"
          target="_blank"><img src="/instagram.svg" alt="instagram logo" /></a
        >
      </li>
      <li>
        <a
          href="https://www.facebook.com/BerkeleySCGov/"
          class="mr-4 hover:underline md:mr-6"
          target="_blank"><img src="/facebook.svg" alt="facebook logo" /></a
        >
      </li>
      <li>
        <a
          href="https://www.youtube.com/@BerkeleyCountyGov"
          class="mr-4 hover:underline md:mr-6"
          target="_blank"><img src="/youtube.svg" alt="YouTube Logo>" /></a
        >
      </li>
      <!-- <li>
        <a href="/contact" class="hover:underline">Contact</a>
      </li> -->
    </ul>
  </div>
</footer>
