---
interface Props {
  text: string;
}
const { text } = Astro.props;
---

<div class="flex justify-center my-5">
  <h2
    class="w-full text-center text-accent-dark text-2xl lg:text-3xl mb-2 mt-2 pb-2 pt--5 rounded-l bg-gradient-to-t from-accent-faded font-semibold border-b-2 border-r-2 border-accent hover:shadow-lg shadow-accent-faded m-2 md:pb-4 lg:pb-6 xl:pb-8 dark:text-brand-yellow"
  >
    {text}
  </h2>
</div>

<!-- /* lg:text-2xl md:text-base sm:text-md */ -->
