---
import ProjectImage from "./ProjectImage.astro";
import img1 from "/1.jpg";
import img2 from "/2.jpg";
import img3 from "/3.jpg";
import img4 from "/4.jpg";
import img5 from "/5.jpg";
import img6 from "/6.jpg";
import img7 from "/7.jpg";
import img8 from "/8.jpg";
import img9 from "/9.jpg";
import img10 from "/10.jpg";
import img11 from "/11.jpg";
import img12 from "/12.jpg";
import img13 from "/13.jpg";
import img14 from "/14.jpg";
import img15 from "/15.jpg";
import img16 from "/16.jpg";
import img17 from "/17.jpg";
import img18 from "/18.jpg";
import img19 from "/19.jpg";
import img20 from "/20.jpg";
---

<div class="mx-12" id="gallery">
  <div class="grid grid-cols-1 gap-24 xl:mx-48 xl:grid-cols-2">
    <ProjectImage src="../public/1.jpg" alt="roadwork" />
    <ProjectImage src="../public/2.jpg" alt="roadwork" />
    <ProjectImage src="../public/3.jpg" alt="roadwork" />
    <ProjectImage src="../public/4.jpg" alt="roadwork" />
    <ProjectImage src="../public/5.jpg" alt="roadwork" />
    <ProjectImage src="../public/6.jpg" alt="roadwork" />
    <ProjectImage src="../public/7.jpg" alt="roadwork" />
    <ProjectImage src="../public/8.jpg" alt="roadwork" />
    <ProjectImage src="../public/9.jpg" alt="roadwork" />
    <ProjectImage src="../public/10.jpg" alt="roadwork" />
    <ProjectImage src="../public/11.jpg" alt="roadwork" />
    <ProjectImage src="../public/12.jpg" alt="roadwork" />
    <ProjectImage src="../public/13.jpg" alt="roadwork" />
    <ProjectImage src="../public/14.jpg" alt="roadwork" />
    <ProjectImage src="../public/15.jpg" alt="roadwork" />
    <ProjectImage src="../public/16.jpg" alt="roadwork" />
    <ProjectImage src="../public/17.jpg" alt="roadwork" />
    <ProjectImage src="../public/18.jpg" alt="roadwork" />
    <ProjectImage src="../public/19.jpg" alt="roadwork" />
    <ProjectImage src="../public/20.jpg" alt="roadwork" />
  </div>
</div>
