<script>
  function makeGallery(count) {
    var html = "";
    for (var i = 1; i < count; i++) {
      html += "<div class='img-holder'>";
      html += "<img src='./" + i + ".jpg' class='img' alt='" + i + "'>";
      html += "</div>";
    }
    document.getElementById("gallery").innerHTML = html;
  }
  makeGallery(21);
</script>

<div class="gallery" id="gallery"></div>
