---
import img1 from "/1.jpg";
import img2 from "/2.jpg";
import img3 from "/3.jpg";
import img4 from "/4.jpg";
import img5 from "/5.jpg";
import img6 from "/6.jpg";
import img7 from "/7.jpg";
import img8 from "/8.jpg";
import img9 from "/9.jpg";
import img10 from "/10.jpg";
import img11 from "/11.jpg";
import img12 from "/12.jpg";
import img13 from "/13.jpg";
import img14 from "/14.jpg";
import img15 from "/15.jpg";
import img16 from "/16.jpg";
import img17 from "/17.jpg";
import img18 from "/18.jpg";
import img19 from "/19.jpg";
import img20 from "/20.jpg";
---

<div class="mx-12" id="gallery">
  <h1 class="my-24 text-center text-xl>">Projects in Photos</h1>
  <div class="grid grid-cols-1 gap-24 xl:mx-48 xl:grid-cols-2">
    <div class="group relative cursor-pointer">
      <img
        class="relative z-10 w-full rounded-lg transition-all group-hover:-translate-x-3 w-1/5"
        src={img1}
        alt="roadwork"
      />
      <div
        class="absolute left-0 top-0 h-full w-full rounded-lg bg-black transition-all group-hover:translate-x-4 group-hover:translate-y-4"
      >
      </div>
    </div>
    <!-- start new image div -->
    <div class="group relative cursor-pointer">
      <img
        class="relative z-10 w-full rounded-lg transition-all group-hover:-translate-x-3"
        src={img2}
        alt="roadwork"
      />
      <div
        class="absolute left-0 top-0 h-full w-full rounded-lg bg-black transition-all group-hover:translate-x-4 group-hover:translate-y-4"
      >
      </div>
    </div>
    <div class="group relative cursor-pointer">
      <img
        class="relative z-10 w-full rounded-lg transition-all group-hover:-translate-x-3"
        src={img3}
        alt="roadwork"
      />
      <div
        class="absolute left-0 top-0 h-full w-full rounded-lg bg-black transition-all group-hover:translate-x-4 group-hover:translate-y-4"
      >
      </div>
    </div>
    <div class="group relative cursor-pointer">
      <img
        class="relative z-10 w-full rounded-lg transition-all group-hover:-translate-x-3"
        src={img4}
        alt="roadwork"
      />
      <div
        class="absolute left-0 top-0 h-full w-full rounded-lg bg-black transition-all group-hover:translate-x-4 group-hover:translate-y-4"
      >
      </div>
    </div>
  </div>
</div>
