<div class="flex justify-evenly">
  <p
    class="xl:font-bold lg:font-light mlg:font-light md:font-light sm:font-light xsm:font-light"
  >
    XL
  </p>
  <p
    class="xl:font-light lg:font-bold mlg:font-light md:font-light sm:font-light xsm:font-light"
  >
    L
  </p>
  <p
    class="xl:font-light lg:font-light mlg:font-light md:font-bold sm:font-light xsm:font-light"
  >
    MD
  </p>
  <p
    class="xl:font-light lg:font-light mlg:font-light md:font-light sm:font-bold xsm:font-light"
  >
    SM
  </p>
  
</div>
